/* ---------------------------------------- */
/* ==       SOMMAIRE           */
/*---------------------------------------- */
/*L-   -1- Colors code*/
/*L-   -2- Body*/
/*L-   -3- Header*/
/*L-   -4- Div content*/
/*L-   -5- Footer*/
/*L-   -6- Connexion*/
/*L-   -7- Inscription*/
/*L-   -8- Error_message*/
/*L-   -9- Administrator*/
/*L-   -10- Chapitres*/
/*L-   -11- Commentaires*/
/*L-   -12- Profil*/
/*L-   -13- Contact*/
/*L-   -14- UpdateProfil*/
/*L-   -15- Reglages Tablette*/
/*L-   -15.1- Body*/
/*L-   -15.2- Header*/
/*L-   -15.3- Administrateur*/
/*L-   -16- Reglages grand ecran*/
/*L-   -16.1- Body*/
/*L-   -16.2- Header*/
/*L-   -16.3- Footer*/
/*L-   -16.4- Content*/
/*L-   -16.5- Admistrateur*/
/*L-   -16.6- Chapitres*/
/*L-   -16.7- Contact*/
/* ---------------------------------------- */
/* ==       COLORS CODE          */
/*---------------------------------------- */
/*  
-body: #ebf7fb
-menu_hover/active: #418096
-text_header: #ffffff
-error_message: #f30800
-color_text: #000
*/
/* ---------------------------------------- */
/* ==       POLICE "AGUAFINA"        */
/*---------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap');
/* ---------------------------------------- */
/* ==       BODY        */
/*---------------------------------------- */
body{
    margin: 0px;
    padding: 0px;
    background-color: #ebf7fb;
}
/* ---------------------------------------- */
/* ==      HEADER       */
/*---------------------------------------- */
header{
    position: relative;
}
#title{
    width: 50%;
    position: absolute;
    right: 25%;
    left: 25%;
    top: 15%;
    font-family: 'Aguafina Script', cursive, sans-serif;
    color: #ffffff;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
    text-align: center;
    font-size: 10vw;
}
#title a{
    color: #ffffff;
    text-decoration: none; 
}
#title a:hover{
    color: #418096;
}
#author{
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-family: 'Aguafina Script', cursive, sans-serif;
    color: #ffffff;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
    font-size: 5vw; 
}
#image_header{
    width: 100%;
}
#connexion{
    position: absolute; 
    top: 5%;
    right: 2%;    
}
.header_connexion{  
    text-decoration: none;
    color: #ffffff;
    font-size: 5vw;
    cursor: pointer;
    z-index: 250;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px; 
}
.header_connexion:hover{
    color: #418096;
}
#menu{
    height: 38%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 5px;
    white-space: nowrap;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.nav_items{
    text-decoration: none;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#fff;
    display: flex;
    align-items: center;
}
.nav_items:hover{
    transition:all .4s ease;
}
.nav_items:hover .nav_items_title{
    display: initial;
    opacity:1;
    transition:opacity .4s .3s ease;
    color: #fff;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}
.nav_items span{
    font-size: 210%;
    margin-right: 1%;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}
.nav_items_title{
    display: none;
    opacity: 0;
    font-size: 4vw;
    color: #fff;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 4px;
    border-radius: 0 0 10px 0;
    background-image: linear-gradient(#ffffff00, #418096);
}
.active, .nav_items:hover{
    color: #418096;
}
/* ---------------------------------------- */
/* ==      DIV CONTENT     */
/*---------------------------------------- */
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    background-color: #9ac4d7;
}
#content_book{
    width: 76%;
    text-align: center;
    margin-bottom: 1%;
}
.title_section{
    font-family: 'Aguafina Script', cursive, sans-serif;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
    color: #418096;
    font-size: 9vw;
    width: 100%;
    text-align: center;
}
/* ---------------------------------------- */
/* ==      FOOTER       */
/*---------------------------------------- */
footer{
    margin-top: 1%;
    height: 130px;
    background-color: #418096;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
#social_network{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
}
#social_network a{
    margin: 6px;
    text-decoration: none;
}
#social_network span{
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px #191a1b8a;
    color: #fff;
}
.fa-facebook-f{
    background-color: #3b5998;
}
.fa-twitter{
    background-color: #1da1f2;
}
footer p{
    padding-top: 2%;
    text-align: center;
    color: #000;
}
/* ---------------------------------------- */
/* ==      CONNEXION      */
/*---------------------------------------- */
#form_connexion{
    margin: 25%;
    padding: 5%;
    background-color: #ebf7fb;
    box-shadow: 10px 5px 5px #191a1b8a;
    text-align: center;
    border-radius: 20%; 
}
#form_connexion p{
    display: flex;
    flex-direction: column;
}
#button_connexion{
    font-size: 15px;
    width: 50%;
    padding: 2% 0;
    margin: 0 25% 3% 25%;
    box-shadow: none;
    border-radius: 25px;
    background-color: #50b1eceb;
    color: #000;
    border: none;
    transition: all 1s;
}
#pseudo, #password{
    border: 1px solid #000;
}
#button_connexion:hover{
    background-color: #1da1f2;
    color: #fff;
    box-shadow: 6px 4px 4px #191a1b8a;
    transition: all 1s;
}
#lien_inscription_connexion{
    text-align: center;
}
/* ---------------------------------------- */
/* ==      INSCRIPTION      */
/*---------------------------------------- */
#form_inscription{
    margin: 25%;
    padding: 5%;
    background-color: #ebf7fb;
    text-align: center;
    box-shadow: 10px 5px 5px #191a1b8a;
    border-radius: 20%; 
}
#form_inscription p{
    display: flex;
    flex-direction: column;
}
#inscription_pseudo, #inscription_email, #inscription_password, #inscription_confirmation_password{
    border: 1px solid #000;
}
#button_inscription{
    font-size: 15px;
    width: 50%;
    padding: 2% 0;
    margin: 0 25% 3% 25%;
    box-shadow: none;
    border-radius: 25px;
    background-color: #50b1eceb;
    color: #000;
    border: none;
    transition: all 1s;
}
#button_inscription:hover{
    background-color: #1da1f2;
    color: #fff;
    box-shadow: 6px 4px 4px #191a1b8a;
    transition: all 1s;
} 
/* ---------------------------------------- */
/* ==      ERROR_MESSAGE    */
/*---------------------------------------- */
.error_message{
    color: #f30800;
}
#error_page_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10% 0;
    width: 80%;
    height: 80%;
    padding: 3%;
    border: 1px solid #f30800;
    background-color: #ebf7fb;
}
/* ---------------------------------------- */
/* ==      ADMINISTRATOR    */
/*---------------------------------------- */
#content_admin{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    min-height: 400px;
    background-color: #418096;
    flex-direction: column;
    align-items: center;  
}
#content_chapter_admin{
    width: 76%;
    padding: 1%;
    background-color: #ebf7fb;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    text-align: center;
    box-shadow: 10px 5px 5px #191a1b8a;
}
#content_chapter_admin a{
   text-decoration: none;
   color: #000;
}
#content_form_admin{
    background-color: #ebf7fb;
    margin-right: 1%;
    margin-left: 1%;
    width: 78%;
    box-shadow: 10px 5px 5px #191a1b8a;
}
#content_form_admin form{
    padding: 2%;
    width: 100%;
}
.chapter_admin{
   display: block; 
}
textarea {
    resize: none;
}
#chapter_content{
   min-height: 300px;
   width: 94%;
}
#Content_button_chapter_admin{
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#save_chapter_admin, #delete_chapter_admin{
    font-size: 15px;
    width: 40%;
    padding: 1% 0;
    margin: 0 10%;
    box-shadow: none;
    border-radius: 25px;
    background-color: #50b1eceb;
    color: #000;
    border: none;
    transition: all 1s;
}
#save_chapter_admin:hover, #delete_chapter_admin:hover{
    background-color: #1da1f2;
    color: #fff;
    box-shadow: 6px 4px 4px #191a1b8a;
    transition: all 1s;
}
#content_admin_comment{
    display: flex;
    padding-bottom: 1%;
    background-color: #418096;
    flex-direction: column;
    align-items: center;   
}
.content_admin_reports_comment{
    width: 74%;
    background-color: #ebf7fb;
    padding: 2%;
    margin-bottom: 1%;
    box-shadow: 10px 5px 5px #191a1b8a;
}
.content_admin_reports_comment_details{
    background-color: #fff;
    border: 1px solid #000;
    padding: 2%;
}
.content_admin_reports_comment_button form{
    display: flex;
    margin: 2%;
    justify-content: space-around;
}
.Content_admin_reports_comment_input_delete{
    margin: 1%;
    display: none;
}
.button_delete_reports, .button_delete_comment{
    font-size: 15px;
    width: 30%;
    padding: 1% 0;
    box-shadow: none;
    border-radius: 25px;
    background-color: #ca3c3ceb;
    color: #000;
    border: none;
    transition: all 1s;
}
.button_delete_reports:hover, .button_delete_comment:hover{
    transition: all 1s;
    color: #fff;
    background-color: #e62222;
    box-shadow: 6px 4px 4px #191a1b8a;
}
/* ---------------------------------------- */
/* ==      CHAPITRES    */
/*---------------------------------------- */
#content_chapter{
    display: flex;
    justify-content: center;
}
.chapter{
    background-color: #ebf7fb;
    width: 96%;
    padding: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 5px 5px #191a1b8a;
}
.chapter h3{
    font-family: 'Aguafina Script', cursive, sans-serif;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
    color: #418096;
    font-size: 45px;
}
#link_chapters{
    display: none;
    background-color: #ebf7fb;
    padding: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 5px 5px #191a1b8a;
}
#link_chapters h3{
    font-family: 'Aguafina Script', cursive, sans-serif;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
    color: #418096;
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
}
#link_chapters a{
    color: #000;
    text-decoration: none;
}
#link_chapters a:hover{
    color: #418096;
}
.chapter a{
    text-decoration: none;
}
.title_chapter{
    color: #000;
}
.title_chapter:hover{
   color: #3983cc; 
}
#connexion_inscription_chapter{
    width: 76%;
    text-align: center;
    background-color: #ebf7fb;
    margin-bottom: 1%;
}
#connexion_inscription_chapter a{
    color: #000;
}
#connexion_inscription_chapter a:hover{
    color: #418096;
}
/* ---------------------------------------- */
/* ==      COMMENTAIRES    */
/*---------------------------------------- */
#content_form_comment{
    width: 76%;
    background-color: #ebf7fb;
    margin-bottom: 1%;
}
#form_comment{
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 10px 5px 5px #191a1b8a;
}
.comment_content{
    width: 76%;
}
#comment_content_print{
    min-height: 75px;
    border: 1px solid #000;
    margin-bottom: 1%; 
}
#save_comment{
    font-size: 15px;
    width: 30%;
    padding: 1% 0;
    margin: 0 35%;
    box-shadow: none;
    border-radius: 25px;
    background-color: #50b1eceb;
    color: #000;
    border: none;
    transition: all 1s;
}
#save_comment:hover{
    background-color: #1da1f2;
    color: #fff;
    box-shadow: 6px 4px 4px #191a1b8a;
    transition: all 1s;
}
.comment_title_link{
    color: #000;
}
.comment_title_link:hover{
    color: #418096;
}
.display_comment_content, .display_comment_content_chapter{
    position: relative;
    background-color: #ebf7fb;
    margin-bottom: 2%;
    padding: 2%;
    z-index: 10;
    box-shadow: 10px 5px 5px #191a1b8a;
}
.display_comment_details{
    background-color: #fff;
    border: 1px solid #000;
    padding: 2%; 
}
#comment_content{
    width: 76%;  
}
.reports_comment{
    display: none;
}
.button_report_comment{
    font-size: 15px;
    width: 30%;
    padding: 1% 0;
    margin: 0 35%;
    box-shadow: none;
    border-radius: 25px;
    background-color: #ca3c3ceb;
    color: #000;
    border: none;
    transition: all 1s;
}
.button_report_comment:hover{
    transition: all 1s;
    color: #fff;
    background-color: #e62222;
    box-shadow: 6px 4px 4px #191a1b8a;
}
.comment_chapter_error{
    position: absolute;
    top: 22%;
    right: 2%;
    z-index: 300;
}
/* ---------------------------------------- */
/* ==      PROFIL   */
/*---------------------------------------- */
.profil_user_content{
    width: 98%;
    background-color: #ebf7fb;
    padding: 2%;
    margin-bottom: 1%;
}
.profil_user_content a{
    color: #000;
}
.button_deconnexion{
    color: #000;
}
.profil_user_content a:hover, .button_deconnexion:hover{
    color: #3983cc;
}
/* ---------------------------------------- */
/* ==      CONTACT       */
/*---------------------------------------- */
#content_contact{
    background-color: #ebf7fb;
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 10px 5px 5px #191a1b8a;
}
#contact_name{
    font-family: 'Aguafina Script', cursive, sans-serif;
    font-size: 7vw;
}
/* ---------------------------------------- */
/* ==      UPDATEPROFIL       */
/*---------------------------------------- */
#form_update_content{
    width: 76%;
    padding: 2%;
}
.form_update{
    background-color: #ebf7fb;
    padding: 2%;
    margin-bottom: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px #191a1b8a;
}
.update_profil_input{
    border: 1px solid #000;
    margin-bottom: 2%;
    width: 50%;
    margin: 1% 25%;
}
.button_update_profil{
    font-size: 15px;
    width: 30%;
    padding: 1% 0;
    margin: 0 35%;
    box-shadow: none;
    border-radius: 25px;
    background-color: #50b1eceb;
    color: #000;
    border: none;
    transition: all 1s;
}
.button_update_profil:hover{
    background-color: #1da1f2;
    color: #fff;
    box-shadow: 6px 4px 4px #191a1b8a;
    transition: all 1s;
}
/* ---------------------------------------- */
/* ==      REGLAGE TABLETTE       */
/*---------------------------------------- */
@media screen and (min-width: 640px){
    /* ---------------------------------------- */
    /* ==      BODY       */
    /*---------------------------------------- */
    body{
        font-size: 30px;
    }
    /* ---------------------------------------- */
    /* ==      HEADER       */
    /*---------------------------------------- */
    #menu{
        top: 1%;
        flex-direction: initial;
        height: 10%;
        width: 70%;
    }
    .active .nav_items_title{
        display: initial;
        opacity:1;
        transition:opacity .4s .3s ease;
        color: #fff;
        text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
    }
    /* ---------------------------------------- */
    /* ==      ADMINISTRATEUR       */
    /*---------------------------------------- */
    #Content_button_chapter_admin{
        width: 95%;
    }
}
/* ---------------------------------------- */
/* ==       REGLAGE GRAND ECRAN    */
/*---------------------------------------- */
@media screen and (min-width: 1024px){
    /* ---------------------------------------- */
    /* ==      BODY       */
    /*---------------------------------------- */
    body{
        font-size: 20px;
    }
    /* ---------------------------------------- */
    /* ==      HEADER       */
    /*---------------------------------------- */
    #image_header{
        width: 80%;
        margin: 0 10%;
    }
    #title{
        font-size: 7vw;
        width: 80%;
        bottom: 0;
        left: 10%; 
    }
    #author{
        right: 12%;
    }
    #menu{
        padding: 0;
        left: 10%;
        width: 80%;
    }
    .nav_items{
        margin: 0 1%;
        width: auto;
        font-size: 1vw;
        margin: 0;
        align-items: center;
        justify-content: flex-start;
    }
    .nav_items span{
        font-size: 350%;
    }
    .nav_items_title{
        display: initial;
        opacity:1;
        transition:opacity .4s .3s ease;
        color: #418096;
        text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
        font-size: 2.3vw;
        background-image: linear-gradient(#ffffff00, #ffffff);
    }
    #connexion{
        top: 14%;
    }
    .header_connexion{
        font-size: 3vw;
    }
    #connexion{
        right: 12%;
    }
    .active .nav_items_title{
        background-image: linear-gradient(#ffffff00, #418096);
    }
    .nav_items:hover .nav_items_title{
        background-image: linear-gradient(#ffffff00, #418096);
    }
    /* ---------------------------------------- */
    /* ==      FOOTER       */
    /*---------------------------------------- */
    footer{
        width: 76%;
        margin: 1% 10% 0 10%;
    }
    /* ---------------------------------------- */
    /* ==       CONTENT    */
    /*---------------------------------------- */
    #content{
        width: 80%;
        margin: 0 10%;
    }
    .title_section{
        margin: 2%;
    }
    /* ---------------------------------------- */
    /* ==       ADMINISTRATEUR    */
    /*---------------------------------------- */
    #content_admin{
        flex-direction: initial;
        justify-content: center;
        height: 78%;
        margin: 0 10%;
    }
    #content_chapter_admin{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    #content_form_admin{
        width: 54%;
    }
    #content_admin_comment{
        height: 80%;
        margin: 0 10%;
    }
    /* ---------------------------------------- */
    /* ==       CHAPITRES    */
    /*---------------------------------------- */
    #content_chapter{
        display: flex;
        justify-content: center;
        width: 76%;
    }
    .chapter{
        width: 90%;
    }
    #link_chapters{
        display: block;
        width: 20%;
    }
    /* ---------------------------------------- */
    /* ==       CONTACT    */
    /*---------------------------------------- */
    #contact_name{
        font-size: 6vw;
    }
    #contact_email{
        font-size: 4vw;
    }
}