/* ---------------------------------------- */
/* ==       SOMMAIRE           */
/*---------------------------------------- */
/*L-   -1- Colors code*/
/*L-   -2- Body*/
/*L-   -3- Header*/
/*L-   -4- Div content*/
/*L-   -5- Footer*/
/*L-   -6- Connexion*/
/*L-   -7- Inscription*/
/*L-   -8- Error_message*/
/*L-   -9- Administrator*/
/*L-   -10- Chapitres*/
/*L-   -11- Commentaires*/
/*L-   -12- Profil*/
/*L-   -13- Contact*/
/*L-   -14- UpdateProfil*/
/* ---------------------------------------- */
/* ==       COLORS CODE          */
/*---------------------------------------- */
/*  
-body: #22477e
-title_section/content-page: #3983cc
-buttton connexion/inscription: #08ad2c
-error_message: #f30800
-button_delete_admin: #9c1200
-color_text_chapter: #c8d6f3
*/
/* ---------------------------------------- */
/* ==       POLICE "AGUAFINA"        */
/*---------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap');
/* ---------------------------------------- */
/* ==       BODY        */
/*---------------------------------------- */
body{
    margin: 0px;
    padding: 0px;
    background-color: #22477e;
}
/* ---------------------------------------- */
/* ==      HEADER       */
/*---------------------------------------- */
header{
    position: relative;
}
#title{
    font-family: 'Aguafina Script', cursive, sans-serif;
    position: absolute;
    top: 30%;
    right: 25%;
    left: 25%;
    text-align: center;
    font-size: 7vw;
    color: #ffffff;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}
#author{
    font-family: 'Aguafina Script', cursive, sans-serif;
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 3vw;
    color: #ffffff;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;  
}
#image_header{
    margin-top: 7%;
    width: 100%;
}
#connexion{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5%;
    right: 3%;
}
.header_connexion{
    text-decoration: none;
    color: #ffffff; 
}
#menu{
    width: 100%;
    position: fixed;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff; 
    display: flex;
    justify-content: stretch;
    background-color: #3983cc;
    top: 0;
}
.nav_items{
    margin: 1%;
    width: 23%;
    padding: 1%;
    text-decoration: none;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    border-radius: 20%;
    font-size: 3vw;
    background-color: #a0cdf9;
}
.active, .nav_items:hover{
    background-color: #22477e;
    color: #ffffff;
}
/* ---------------------------------------- */
/* ==      DIV CONTENT     */
/*---------------------------------------- */
#content{
    width: 100%;
    min-height: 450px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content_book{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_section{
    font-family: 'Aguafina Script', cursive, sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
    font-size: 10vw;
    color: #3983cc;
}
/* ---------------------------------------- */
/* ==      FOOTER       */
/*---------------------------------------- */
footer{
    height: 130px;
    background-color: #3983cc;
    border-top: thick double #ffffff;
    display: flex;
    justify-content: center;
}
footer p{
    padding-top: 2%;
    text-align: center;
}
/* ---------------------------------------- */
/* ==      CONNEXION      */
/*---------------------------------------- */
#form_connexion_content{
    width: auto;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#form_connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%; 
}
#connexion_content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #3983cc;
}
#connexion_content p{
    text-align: center;    
}
#connexion_content input{
    border: 1.5px solid #000;
}
#button_connexion{
    border: 1.5px solid #000;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    border-radius: 20%;
    background-color: #08ad2c;
    padding: 5px;
}
#lien_inscription_connexion{
    margin-bottom: 5%;
}
/* ---------------------------------------- */
/* ==      INSCRIPTION      */
/*---------------------------------------- */
#form_inscription_content{
    width: auto;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#form_inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%; 
}
#inscription_content{
    background-color: #3983cc;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
}
#form_inscription p{
    text-align: center;
}
#form_inscription input{
    border: 1.5px solid  #000;
}
#button_inscription{
    border: 1.5px solid #000;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border-radius: 20%;
    background-color: #08ad2c;
    padding: 5px;
}
/* ---------------------------------------- */
/* ==      ERROR_MESSAGE    */
/*---------------------------------------- */
.error_message{
    color: #f30800;
}
/* ---------------------------------------- */
/* ==      ADMINISTRATOR    */
/*---------------------------------------- */
#content_admin{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}
#content_chapter_admin{
    padding-top: 2%;
    margin-left: 2%;
    width: 23%;
    display: flex;
    border: 1px solid black;
    height: all;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #3983cc;
}
#content_chapter_admin a{
    color: #f9f9f9;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
#content_form_admin{
    margin-right: 2%;
    width: 70%;
    height: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #3983cc;
}
#content_form_admin form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
#content_form_admin label{
    padding: 6px;
    color: #f9f9f9;
    font-size: 22px;
}
.chapter_admin{
    width: 100%;
}
.chapiter_admin p{
    text-align: center;
    font-size: 25px;
}
textarea {
  resize: none;
}
#chapter_titre{
    border: 1px solid #ffffff;
    text-align: center;
    width: 75%;
    margin-left: 2%;
    margin-right: 2%;
}
#chapter_content{
    border: 1px solid #ffffff;
    height: 300px;
    width: 75%;
    margin-left: 2%;
    margin-right: 2%;
}
#Content_button_chapter_admin{
    width: 100%;
}
#save_chapter_admin{
    border: 1.5px solid #000;
    background-color: #3eda2b;
    width: 50%;
    border-radius: 5%;
    margin: 2%;
}
#delete_chapter_admin{
    border: 1.5px solid #000;
    background-color: #9c120d;
    width: 50%;
    border-radius: 5%;
    margin: 2%;
}
#content_admin_comment{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
}
.content_admin_reports_comment{
    border: 1px solid #ffffff;
    margin-bottom: 5%;
    display: flex;
    background-color: #3983cc;
}
.content_admin_reports_details{
    width: 68%;
    padding: 2%;
}
.content_admin_reports_comment_details{
    border: 1.5px solid #000;
    background-color: #f7f7f7;
    padding: 1%;
    margin-right: 2%;
}
.content_admin_reports_comment_button{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_admin_reports_comment_button form{
    display: flex;
    justify-content: center;
    height: 33%;
    margin-top: 11%;
    margin-bottom: 11%;
}
.Content_admin_reports_comment_input_delete{
    display: none;
}
.button_delete_comment, .button_delete_reports{
    color: #f7f7f7;
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    background-color: #9c120d;
    border: 1.5px solid #000;
    border-radius: 20%;
    padding: 5px; 
}
/* ---------------------------------------- */
/* ==      CHAPITRES    */
/*---------------------------------------- */
.chapter{
    width: 97%;
    border: 1px solid #ffffff;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #3983cc;
    color: #c8d6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chapter a{
    text-decoration: none;
}
.title_chapter{
    color: #ffffff;
}
.title_chapter:hover{
    color: #000;
}
/* ---------------------------------------- */
/* ==      COMMENTAIRES    */
/*---------------------------------------- */
#content_form_comment{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form_comment{
    border: 1px solid #ffffff;
    background-color: #3983cc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment_content{
    width: 100%;
}
#comment_content_print{
    width: 80%;
    height: 100%;
    margin: 3%;
    border: 1.5px solid #000;
    resize: none;
}
#save_comment{
    border: 1.5px solid #000;
    font-size: 15px;
    background-color: #3eda2b;
    padding: 1%;
    width: 40%;
    margin: 3% 40%;
    border-radius: 20%;
    margin-bottom: 4%;
}
.display_comment_content, .display_comment_content_chapter{
    width: 80%;
    height: auto;
    border: 1px solid #ffffff;
    padding: 1%;
    margin-bottom: 5%;
    background-color: #3983cc;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.display_comment_details{
    width: 80%;
    border: 1.5px solid #000;
    background-color: #f7f7f7;
    padding: 2%;
    margin-right: 2%;
    color: #000;
}
#comment_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reports_comment{
    display: none;
}
.button_report_comment{
    color: #f7f7f7;
    width: 100%;
    background-color: #9c120d;
    border: 1.5px solid #000;
    border-radius: 20%;
    padding: 5px;
    margin-bottom: 5%; 
}
/* ---------------------------------------- */
/* ==      PROFIL   */
/*---------------------------------------- */
.profil_user_content{
    width: 97%;
    height: auto;
    border: 1px solid #ffffff;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: #3983cc;
    color: #c8d6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.profil_user_content a{
    color: #ffffff;
    margin-bottom: 2%;
}
.user_name{
    font-size: 25px;
}
.button_deconnexion{
    color: #ffffff;
}
.profil_user_content a:hover, .button_deconnexion:hover{
    color: #000;
}
/* ---------------------------------------- */
/* ==      CONTACT       */
/*---------------------------------------- */
#content_contact{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ffffff;
    padding: 1%;
    margin-bottom: 24%;
    background-color: #3983cc;
    color: #c8d6f3;
    text-align: center;
}
#contact_name{
    font-size: 30px;
}
#contact_email{
    font-size: 4vw;
}
/* ---------------------------------------- */
/* ==      UPDATEPROFIL       */
/*---------------------------------------- */
#form_update_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_update{
    width: 60%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    background-color: #3983cc;
    color: #c8d6f3;
    padding: 5%;
    text-align: center;
}
.update_profil_input{
    margin: 2%;
    border: 1.5px solid #000;
}
.button_update_profil{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    background-color: #08ad2c;
    border: 1.5px solid #000;
    border-radius: 20%;
    padding: 5px;
}
/* ---------------------------------------- */
/* ==      REGLAGE TABLETTE       */
/*---------------------------------------- */
@media screen and (min-width: 640px){
    /* ---------------------------------------- */
    /* ==      HEADER       */
    /*---------------------------------------- */
    #image_header{
        margin-top: 4%;
    }
    .nav_items{
        font-size: 18px;
        padding: 1%;
    }
    .header_connexion{
        font-size: 25px;
    }
    /* ---------------------------------------- */
    /* ==      CONTENT    */
    /*---------------------------------------- */
    #content{
        min-height: 800px;
    }
    /* ---------------------------------------- */
    /* ==      ADMINISTRATOR       */
    /*---------------------------------------- */
    #Content_button_chapter_admin{
        
        display: flex;
        justify-content: center;
    }
    /* ---------------------------------------- */
    /* ==      PROFIL   */
    /*---------------------------------------- */
    .content_deconnexion{
        height: 100px;
    }
}
/* ---------------------------------------- */
/* ==       REGLAGE GRAND ECRAN    */
/*---------------------------------------- */
@media screen and (min-width: 1024px){
    /* ---------------------------------------- */
    /* ==      HEADER       */
    /*---------------------------------------- */
    #image_header{
        height: 100%;
        margin-top: 0;
    }
    #title{
        top: 10%;
    }
    .nav_items{
        font-size: 20px;
        padding: 5px;
    }
    .header_connexion{
        font-size: 25px;
    }
    /* ---------------------------------------- */
    /* ==      ADMINISTRATOR    */
    /*---------------------------------------- */
    #save_chapter_admin, #delete_chapter_admin{
        width: 10%;
    }
    /* ---------------------------------------- */
    /* ==      CHAPITRES    */
    /*---------------------------------------- */
    .chapter{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    /* ---------------------------------------- */
    /* ==      COMMENTAIRES       */
    /*---------------------------------------- */
    #form_comment{
        width: 40%;
    }
    .display_comment_content_chapter, .display_comment_content{
        width: 40%;
        margin-right: 30%;
        margin-left: 30%;
    }
    /* ---------------------------------------- */
    /* ==       CONTENT    */
    /*---------------------------------------- */
    .title_section{
        font-size: 7vw;
    }
    /* ---------------------------------------- */
    /* ==       CONTACT    */
    /*---------------------------------------- */
    #content_contact{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
    #contact_email{
        font-size: 3vw;
    }
}