/* ---------------------------------------- */
/* ==       SOMMAIRE           */
/*---------------------------------------- */
/*L-   -1- Colors code*/
/*L-   -2- Body*/
/*L-   -3- Header*/
/*L-   -4- Div content*/
/*L-   -5- Footer*/
/*L-   -6- Connexion*/
/*L-   -7- Inscription*/
/*L-   -8- Error_message*/
/*L-   -9- Administrator*/
/*L-   -10- Chapitres*/
/*L-   -11- Commentaires*/
/*L-   -12- Profil*/
/*L-   -13- Contact*/
/*L-   -14- UpdateProfil*/
/* ---------------------------------------- */
/* ==       COLORS CODE          */
/*---------------------------------------- */
/*  
-body: #a0cdf9
-title_section/content-page: #3983cc
-buttton connexion/inscription: #08ad2c
-error_message: #f30800
-button_delete_admin: #9c1200
-color_text_chapter: #c8d6f3
*/
/* ---------------------------------------- */
/* ==       BODY        */
/*---------------------------------------- */
body{
    margin: 0px;
    padding: 0px;
    background-color: #a0cdf9;
}
/* ---------------------------------------- */
/* ==      HEADER       */
/*---------------------------------------- */
header{
    position: relative;
    height: 500px;
    width: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#titre{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 75px;
    z-index: 150;
}
#image_header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
}
#connexion{
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 100;
}
#connexion p{
    color: #000;
}
.header_connexion{
    text-decoration: none;
    font-size: 25px;
    color: #000;
}
#menu{
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    min-width: 640px;
}
.nav_items{
    margin: 1%;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 25px
}
/* ---------------------------------------- */
/* ==      DIV CONTENT     */
/*---------------------------------------- */
#content{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content_book{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.title_section{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    font-size: 40px;
    border: thick double #000;
    border-radius: 20%;
    padding: 4%;
    background-color: #3983cc;
    font-size: 40px;
    color: #000;
}
/* ---------------------------------------- */
/* ==      FOOTER       */
/*---------------------------------------- */
footer{
    width: auto;
    bottom: 0px;
    height: 150px;
    background-color: #3983cc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: thick double #000;
}
/* ---------------------------------------- */
/* ==      CONNEXION      */
/*---------------------------------------- */
#form_connexion_content{
    width: auto;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#form_connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%; 
}
#connexion_content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    border: thick double #000;
    border-radius: 20%;
    background-color: #3983cc;
}
#connexion_content p{
    text-align: center;    
}
#connexion_content input{
    border: 1.5px solid #000;
}
#button_connexion{
    border: 1.5px solid #000;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    border-radius: 20%;
    background-color: #08ad2c;
    padding: 5px;
}
#lien_inscription_connexion{
    margin-bottom: 5%;
}
/* ---------------------------------------- */
/* ==      INSCRIPTION      */
/*---------------------------------------- */
#form_inscription_content{
    width: auto;
    height: 400px;
    background-color: #a0cdf9;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#form_inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%; 
}
#inscription_content{
    background-color: #3983cc;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: thick double #000;
    border-radius: 20%;
}
#form_inscription p{
    text-align: center;
}
#form_inscription input{
    border: 1.5px solid  #000;
}
#button_inscription{
    border: 1.5px solid #000;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border-radius: 20%;
    background-color: #08ad2c;
    padding: 5px;
}
/* ---------------------------------------- */
/* ==      ERROR_MESSAGE    */
/*---------------------------------------- */
.error_message{
    color: #f30800;
}
/* ---------------------------------------- */
/* ==      ADMINISTRATOR    */
/*---------------------------------------- */
#content_admin{
    display: flex;
    margin-bottom: 5%;
}
#content_chapter_admin{
    padding-top: 2%;
    margin-left: 5%;
    width: 15%;
    display: flex;
    border: 1px solid black;
    height: all;
    flex-direction: column;
    align-items: center;
    border: thick double #000;
    border-radius: 5%;
    background-color: #3983cc;
}
#content_chapter_admin a{
    color: #f9f9f9;
    text-decoration: none;
    font-size: 18px;
}
#content_form_admin{
    margin-right: 5%;
    margin-left: 5%;
    width: 70%;
    height: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: thick double #000;
    border-radius: 5%;
    background-color: #3983cc;
}
#content_form_admin form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
#content_form_admin label{
    padding: 6px;
    color: #f9f9f9;
    font-size: 22px;
}
.chapitre_admin{
    width: 100%;
}
.chapitre_admin p{
    text-align: center;
    font-size: 25px;
}
textarea {
  resize: none;
}
#chapitre_titre{
    border: thick double #000;
    text-align: center;
    width: 75%;
    margin-left: 2%;
    margin-right: 2%;
}
#chapitre_content{
    border: thick double #000;
    height: 300px;
    width: 75%;
    margin-left: 2%;
    margin-right: 2%;
}
#save_chapitre_admin{
    border: 1.5px solid #000;
    font-size: 15px;
    background-color: #3eda2b;
    padding: 1%;
    width: 20%;
    margin: 3% 40%;
    border-radius: 5%;
}
#content_admin_comment{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
}
.content_admin_reports_comment{
    border: thick double #000;
    border-radius: 5%;
    margin-bottom: 5%;
    display: flex;
    background-color: #3983cc;
}
.content_admin_reports_details{
    width: 68%;
    padding: 2%;
}
.content_admin_reports_comment_details{
    border: 1.5px solid #000;
    background-color: #f7f7f7;
    padding: 1%;
    margin-right: 2%;
}
.content_admin_reports_comment_button{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_admin_reports_comment_button form{
    display: flex;
    justify-content: center;
    height: 33%;
    margin-top: 11%;
    margin-bottom: 11%;
}
.Content_admin_reports_comment_input_delete{
    display: none;
}
.button_delete_comment, .button_delete_reports{
    color: #f7f7f7;
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    background-color: #9c120d;
    border: 1.5px solid #000;
    border-radius: 20%;
    padding: 5px; 
}
/* ---------------------------------------- */
/* ==      CHAPITRES    */
/*---------------------------------------- */
.chapter{
    width: 97%;
    border: thick double #000;
    border-radius: 5%;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #3983cc;
    color: #c8d6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ---------------------------------------- */
/* ==      COMMENTAIRES    */
/*---------------------------------------- */
#content_form_comment{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form_comment{
    border: thick double #000;
    border-radius: 5%;
    background-color: #3983cc;
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#comment_content_print{
    width: 400px;
    height: 100px;
    margin-bottom: 5%;
    border: 1.5px solid #000;
    resize: none;
}
#save_comment{
    border: 1.5px solid #000;
    font-size: 15px;
    background-color: #3eda2b;
    padding: 1%;
    width: 20%;
    margin: 3% 40%;
    border-radius: 20%;
    margin-bottom: 4%;
}
.display_comment_content{
    width: 97%;
    height: auto;
    border: thick double #000;
    border-radius: 5%;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #3983cc;
    color: #c8d6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.display_comment_details{
    width: 80%;
    border: 1.5px solid #000;
    background-color: #f7f7f7;
    padding: 2%;
    margin-right: 2%;
    color: #000;
}
#comment_content{
    width: 50%;
}
.reports_comment{
    display: none;
}
.button_report_comment{
    color: #f7f7f7;
    width: 100%;
    background-color: #9c120d;
    border: 1.5px solid #000;
    border-radius: 20%;
    padding: 5px; 
}
/* ---------------------------------------- */
/* ==      PROFIL   */
/*---------------------------------------- */
.profil_user_content{
    width: 97%;
    height: auto;
    border: thick double #000;
    border-radius: 5%;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #3983cc;
    color: #c8d6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.user_name{
    font-size: 25px;
}
/* ---------------------------------------- */
/* ==      CONTACT       */
/*---------------------------------------- */
#content_contact{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: thick double #000;
    border-radius: 5%;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #3983cc;
    color: #c8d6f3;
    text-align: center;
}
#contact_name{
    font-size: 30px;
}
#contact_email{
    font-size: 25px;
}
/* ---------------------------------------- */
/* ==      UPDATEPROFIL       */
/*---------------------------------------- */
#form_update_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_update{
    width: 60%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    border: thick double #000;
    border-radius: 5%;
    background-color: #3983cc;
    color: #c8d6f3;
    padding: 5%;
    text-align: center;
}
.update_profil_input{
    margin: 2%;
    border: 1.5px solid #000;
}
.button_update_profil{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    background-color: #08ad2c;
    border: 1.5px solid #000;
    border-radius: 20%;
    padding: 5px;
}